mixin indexHeader()
  nav.navbar.navbar-inverse.navbar-straight(role='navigation')
    .container-fluid
      .w-auto-xs
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapsed-nav')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.pull-left(href='/')
          img.h-sm(src='/assets/img/new_logo.svg', style='margin:25px 10px;')
      #collapsed-nav.collapse.navbar-collapse.navbar-right
        ul.nav.navbar-nav
          li
            a(href='/index.html') Home
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Products 
              b.caret
            ul.dropdown-menu
              li
                a(href='/MS_Compare.html') Megasquirt Comparisons
              li
                a(href='/MS_All_products.html') Megasquirt ECU's
              li
                a(href='/RV8_kits.html') Rover V8 ECU bundles/PNP
              li
                a(href='/MX5_ecus.html') Mazda MX5 ECU's 
              li
                a(href='/accessories.html') Accessories
          li
            a(href='/services.html') Services
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Support 
              b.caret
            ul.dropdown-menu
              li
                a(href='/support/FAQ.html') FAQs
              li
                a(href='/support/videos.html') Videos
              li
                a(href='/support/downloads.html') Downloads
              li
                a(href='mailto:phil@extraefi.co.uk') Contact


          li
            a(href='/gallery.html') Gallery
          li
            a(href='/feedback.html') Feedback

          li
            a(href='/links.html') Links
