extends /templates/layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
        .w-full
          h3 Tutorial videos:

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/4sIxbXovD8g', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/E-BEW6zR6W0', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/t74MgGfUztw', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/5OCaL_hkBZk', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/RohYEWvIldE', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/ltnITRf5aN8', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/h-kg7SyTkYk', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/3EN0RRNKprQ', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/z1GMicEPfNo', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/A25AMa0otwI', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/RaXByK1PLd0', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/qiCcEksZgQ8', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/D889vh7La0w', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/-KKQ7kSdFUM', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/fG8BcXdKnns', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/BZIfhKq6Stc', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/S6AhSrSKNZw', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/ThK5tD1oOy4', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/u8ftIbED2jM', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/RytdYv_ro70', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/GtNVhcIgg9I', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/AuoFfNUZ0Zk', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/4258upC4YJo', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/kihHoQaP7W8', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/b-fitCt0EBI', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/1Ur0MkOOOK4', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/oeZc-ka6ago', frameborder='0', allowfullscreen='')

        .row.m-t-md.m-b-md
          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/DUAD8mt5Omg', frameborder='0', allowfullscreen='')

          iframe.col-md-4.col-sm-6.col-xs-12(style='min-height:240px;', src='https://www.youtube.com/embed/A1Jc-RbyNbc', frameborder='0', allowfullscreen='')
    |     
