extends ./layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
      h3 Customer feedback and reviews
      em
        | Genuine e-mail's from customers, I didn't even have to pay them for the comments!
      hr
      p Hi Philip,
      p
        | I purchase a MS1-extra from you a few years ago and the goal was to build a streetcar. With some miner breaks I time it was time to turn the key this weekend and the engine started after some turns!
        | I just want to say that that I am very pleased with my ECU and the info you supply on your website. I have not come across any problem concerning the ECU and the electronic installation, everything was straight forward.
        | So now I am looking forward to getting my hands on the spark and fuel tables.
      p.inline Best regards,&nbsp;
        .font-bold.inline Markus Krantz,
        .font-normal.inline Sweden.
      hr
      p Hi again,
      p
        | Sorry, I must be wearing you out with all my questions
        | I just have to say, I never expected this kind of support. All my questions have been answered so far without any fuzz, or even delay, what so ever. I'm deeply impressed, and I will definetly recommend you to anyone that asks. And I will make sure to send you some pictures of the installation when it's finished, and pictures of the car in action as well if you're interested.
      p.inline Best regards,&nbsp;
        .font-bold.inline Christian
      hr
      p Hi Phil,
      p
        | First off that is the most exceptional level of service I have had in getting something sorted as I only sent it yesterday. Thanks.
      p.font-bold Jason.
      hr
      p Hi,
      p
        | The megasquirt turned up today, thanks, great service I shall definitely recommend you.
      p.font-bold Simon.