extends ./layouts/default

block content

  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
      h3 Welcome to the ExtraEFI website!
      hr
      p I have been building MegaSquirt ECU's since 2003 and I'm one of the team who wrote the MS-Extra Code.
      p So you can  rest assured this is THE place to purchase your MS ECU, with the knowledge that you will be getting what you need, rather than what someone wants to sell you.
      img.img-responsive.m-l-md.m-none-xs.pull-right(width='400', src='assets/img/Package.jpg').r-2x
      p No other MegaSquirt sales website comes close to this one for information, knowledge and backup of MS ECUs!
      p Everything you need to know is on this site, that includes 
        a(href='video.html') video help files          | ! If you still have any questions then I can answer them due to my experience with the actual firmware the ECU's run and with the years of experience I have building, tuning and testing them!
      p ExtraEFI was setup in 2005 with a simple aim; to supply fully assembled, tested and warranted MegaSquirt ECU's to a very high standard.
      p All my ECUs run the latest version of the MS Extra code. 
        em
          | Well, they would do, as I'm one of the authors of the MS-Extra code and author of the MS1-Extra
          | and MS2-Extra manuals.
      p MegaSquirt is a standalone DIY mappable Engine Management System that can control the fuel and spark or fuel only or spark only on virtually any liquid fueled spark-ignition engine, naturally aspirated or boosted.
      p Are you still confused about MegaSquirt? Click 
        a(href='information_OL.htm') here
      p.font-bold A MegaSquirt ECU can give you mappable fuel and or mappable ignition using:
      ul
        li A distributor setup with a simple hall sensor/points in the distributor or a cam/crank signal.
        li A coil pack setup using a variety of cam/crank signals.
        li A Coil On Plug setup using a variety of cam/crank signals.
      p.font-bold All of the ECU's I sell have the MS-Extra code loaded into them, these are the features that come as standard:
    .row
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none.text-black 16x16 Fuel table
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Large 16x16 fuel table for finer control
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none 12x12 Spark table
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Large 12x12 spark table for accurate ignition control
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Rev limiter
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Limit and protect your engine
    .row
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Overboost protection
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Protects your engine from overboosting and causing damage.
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Ratio Targets
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Mappable Air-Fuel ratio targets.
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Oxygen Sensors
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Wide Band and Narrow Band
    .row
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Ignition Timing Advancement
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Based on your vehicles Coolant temperature
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Ignition Timing Retard
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Based on the Inlet Air temperature
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Acceleration Enrichment
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Based on Manifold Absolute Pressure rate of change or Throttle Position Sensor rate of change
    .row
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Overrun fuel cut
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Improve Fuel Economy by restricting fuel when not neccesary.
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Hybrid Alpha-N
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Use a combination of the TPS and MAP sensors to calculate fuel.
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Staged Injection
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Optimise your injection setup.
    .row
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Air Density Correction
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Built in Air Density Correction
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none PWM Idle Control valves
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Support for PWM controlled valves.
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Stepper Motor Idle Control Valves
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Support for stepper controlled valves.
    .row
      .col-md-4.m-t-sm.m-b-sm
        .bg-white.wrapper
          h4.m-none Fuel &amp; Ignition
        .bg-white.b-t.wrapper(style='height:75px;')
          p.font-thin.m-none Fuel and Ignition, Fuel Only or Ignition Only

    footer.bg-white.m-t-xl.wrapper.m-b-xl
      p.m-none Copyright &copy; 
        a(href='#') ExtraEFI.co.uk          |  2015 
        span.pull-right
          a(href='terms_of_use.html') Terms of Use
          |  - Design by Sam Buckingham &amp; Joshua Baldwin
