extends ./layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
      h3 Usefull links and information
      hr
      h4.m-none
        a(href='http://www.msextra.com') Megasquirt forums
      p The Megasquirt forums is the one stop source for anything and everything megasquirt, including a vast community and lots of information including manuals.
      h4.m-none
        a(href='http://www.msextra.com/manuals/MS_Extra_Manual_Index.htm') Megasquirt-1 Extra manual
      p A direct link to the Megasquirt 1 Extra manual, use this to guide your installation and setup.
      h4.m-none
        a(href='http://www.msextra.com/ms2extra/') Megasquirt-2 Extra manual
      p A direct link to the Megasquirt 2 Extra manual, use this to guide your installation and setup.
      h4.m-none
        a(href='http://www.extraefi.co.uk/cobra/accobra.htm') My Cobra replica build
      p Here is a link to one of my own projects from over the years, which of course is using a Megasquirt.
      h4.m-none
        a(href='http://www.ms2tuning.com/') MS Tuning Services
      p MS2 Tuning offers a range of tuning services all the way from bespoke looms to Megasquirt support/advice.
      h4.m-none
        a(href='http://www.youtube.com/extraefi') ExtraEFI YouTube
      p ExtraEFI's Youtube channel, containing many indepth videos regarding Megasquirt ECU's
      h4.m-none
        a(href='http://www.v8developments.co.uk/') V8 Developments
      p Rover V8 specialists.
      h4.m-none
        a(href='http://www.v8developments.co.uk/') AGP Graphics (Decals, etc)
      p Custom graphics and decals for many applications.
      h4.m-none
        a(href='http://www.extraefi.co.uk/Videos/TVRCobra1.wmv') Video of my Cobra Replica
      p Quick video showing what my Cobra replica is capable of.
      h4.m-none
        a(href='http://www.baileyperformance.co.uk/') Bailey Performance Tuning
      p Offering complete engine solutions from swaps to final mapping.
      h4.m-none
        a(href='http://www.skcc.co.uk/smf/index.php') Scottish Kit Car Club
      p Awesome club that anyone should be proud to be a part of.
      h4.m-none
        a(href='http://www.millnortheast.co.uk/') Mill Volvo
      p Approved new and used Volva car dealership.