extends /templates/layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
        h3.m-none.text-info.m-b-xl All Products

        #CollapsiblePanel1.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm Fuel Only Setups 
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £390 inc VAT 
                  span £325 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £486 inc VAT 
                  span £405 plus VAT 
          .CollapsiblePanelContent.m-t-md
            p The Fuel Only ECU's allows fueling to be conolled on virtually all types of engines, this can be modified at a later date for ignition use if needed. 
            p The ECU will give you complete conol over your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup corrections, etc.
            p There are a few iggering options, igger wheels are best, but if your engine only has a simple disibutor based setup, then we can fire from the coils -ve terminal. Please send me a note as to what style of igger you intend to use.
            p Note: This ECU does NOT conol ignition as it is Fuel Only.
            p All the ECUs include a 1m bare ended loom, comms lead and manuals.

        #CollapsiblePanel2.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm RX7 Wankel Twin Rotor 
                h4.text-primary.m-r-xs.inline.m-t-none (13B FC Ignition)
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £475 inc VAT 
                  span £395.83 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £648 inc VAT 
                  span £540 plus VAT 

          .CollapsiblePanelContent
            p The Mazda RX7 engines 
            p
              em All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL

        #CollapsiblePanel3.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm EFI Fuel with GM HEI 
                h4.text-primary.m-r-xs.inline.m-t-none Disibutor Ignition Setups
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £399 inc VAT 
                  span £332.50 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £495 inc VAT 
                  span £412.50 plus VAT 

          .CollapsiblePanelContent
            p This ECU is designed to read the signal from the GM HEI module and trigger the HEI to fire the single coil through the disibutor. 

            p It will give you conol over your ignition map (12x12 table) and conol over your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
            p
              em All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p
              song CHECKOUT using PAYPAL

        #CollapsiblePanel4.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm EFI Fuel with
                h4.text-primary.m-r-xs.inline.m-t-none Disibutor Ignition Setups
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £399 inc VAT 
                  span £332.50 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £495 inc VAT 
                  span £412.50 plus VAT 

          .CollapsiblePanelContent
            p The Disibutor based ECU's conol fueling in a batch fuel mode along with a single direct coil output for use in a disibutor based setup. These are suitable for even fire 1, 2, 4, 5, 6, 8, 10 and 12 cylinder applications. It is ideal for engines with a single coil (Disibutor). These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc. 
            p The igger signal can come from points, hall sensor, VR, crank based signal, or disibutor based. To igger from a disibutor based signal any weights, vacuum advance mechanisms, etc, must be locked up so the igger doesnt advance or retard.
            p How to tell if you have a Hall sensor or a VR sensor in your disibutor.
            p All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL

        #CollapsiblePanel5.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm Toyota VAS
                h4.text-primary.m-r-xs.inline.m-t-none (2S-E, 22R-E, 22R-TE, 4Y-E and 4A-GE)
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £399 inc VAT 
                  span £332.50 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £495 inc VAT 
                  span £412.50 plus VAT 

          .CollapsiblePanelContent(style='display: block; visibility: visible; height: 451px;')
            p This ECU is designed to read the input from the Toyota VAST (4 pulses from the dizzy, not the 24+1) and then fire the original ignitor. (It can also fire the coil directly if you wish.) This ECU will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc. If you have a Toyota with the 24+1 based disibutor, please see the Toyota 24+1 option in the table.
            p This ECU includes a Tacho Output as standard.
            p All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL

            .row
              .col-md-6.col-xs-12
                h4 MS with 1 spark output for a disibutor
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='NDQHUHG7C96TL')
                  table.w-full.m-b-md
                    tbody
                        td
                          input(type='hidden', name='on0', value='MS with 1 spark output for a disibutor')
                        td
                          select(name='os0').form-control
                            option(value='MS2 + UK Postage') MS2 + UK Postage £375.00 GBP
                            option(value='MS2 + EU Postage') MS2 + EU Postage £380.00 GBP
                            option(value='MS3 + UK Postage') MS3 + UK Postage £460.00 GBP
                            option(value='MS3 + EU Postage') MS3 + EU Postage £465.00 GBP
                            option(value='MS1 + UK Postage (Batch Fuel)') MS1 + UK Postage (Batch Fuel) £325.00 GBP
                            option(value='MS1 + EU Postage (Batch Fuel)') MS1 + EU Postage (Batch Fuel) £330.00 GBP
                  input(type='hidden', name='currency_code', value='GBP')
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              .col-md-6.col-xs-12
                h4 ECU Options
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                  table.w-full.m-b-md
                    tbody
                      
                        td
                          input(type='hidden', name='on0', value='ECU Options')
                        td
                          select(name='os0').form-control
                            option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                            option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                            option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                            option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                            option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                            option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                            option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                            option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                  div(align='center')
                    input(type='hidden', name='currency_code', value='GBP')
                    input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')

        #CollapsiblePanel6.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm Toyota 24+1 Disibutor
                h4.text-primary.m-r-xs.inline.m-t-none Setups (ESA) Wasted Spark + Semi-Sequential Fuel
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £456 inc VAT 
                  span £380 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £648 inc VAT 
                  span £540 plus VAT 
          .CollapsiblePanelContent
            p This ECU is designed to read the input from the Toyota VAST 24+1 VR sensors within the disibutor, and then fire the original ignitor. (It can also fire the coil directly if you wish, please let me know your preference when ordering.) This ECU will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
            p We can add a second coil driver so it becomes a wasted spark setup, for use with a coil pack.
            p This ECU includes a Tacho Output as standard.
            p.text-danger All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL
            .row
              .col-md-6.col-xs-12
                h4 MS for Toyota 24+1 Cam
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='CRN9VGKMQJ7C2')
                  table.w-full.m-b-md
                    tbody
                        td
                          input(type='hidden', name='on0', value='MS for Toyota 24+1 Cam')
                        td
                          select(name='os0').form-control
                            option(value='Wasted Spark MS2 with MS2X + UK Postage') Wasted Spark MS2 with MS2X + UK Postage £455.00 GBP
                            option(value='Sequential Spark MS2 with MS2X + EU Postage') Sequential Spark MS2 with MS2X + EU Postage £460.00 GBP
                            option(value='MS3 with MS3X (4 x 5V Spark out)+ UK Postage') MS3 with MS3X (4 x 5V Spark out)+ UK Postage £615.00 GBP
                            option(value='MS3 with MS3X (4 x 5V Spark out)+ EU') MS3 with MS3X (4 x 5V Spark out)+ EU £620.00 GBP
                            option(value='MS3 with MS3X and 1 Spark Driver + UK Postage') MS3 with MS3X and 1 Spark Driver + UK Postage £625.00 GBP
                            option(value='MS3 with MS3X and 1 Spark Drivers + EU Postage') MS3 with MS3X and 1 Spark Drivers + EU Postage £630.00 GBP
                            option(value='MS3 with MS3X and 2 Spark Drivers + UK Postage') MS3 with MS3X and 2 Spark Drivers + UK Postage £635.00 GBP
                            option(value='MS3 with MS3X and 2 Spark Drivers+ EU Postage') MS3 with MS3X and 2 Spark Drivers+ EU Postage £640.00 GBP
                  div(align='center')
                    input(type='hidden', name='currency_code', value='GBP')
                    input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              .col-md-6.col-xs-12
                h4 ECU Options
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                  table.w-full.m-b-md
                    tbody
                        td
                          input(type='hidden', name='on0', value='ECU Options')
                        td
                          select(name='os0').form-control
                            option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                            option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                            option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                            option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                            option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                            option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                            option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                            option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                  div(align='center')
                    input(type='hidden', name='currency_code', value='GBP')
                    input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')

        #CollapsiblePanel7.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm Ford EDIS 4, 6, 8 &amp; Ford TFI Setups
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £399 inc VAT 
                  span £332.50 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £495 inc VAT 
                  span £412.50 plus VAT 
          .CollapsiblePanelContent

            p This ECU is designed to read the PIP output from the very popular Ford EDIS (12 pinned) module and drive the module's SAW input telling the EDIS which angle to fire the coils at. It is ideal for a wasted spark setup when wanting to use the Ford Edis 12 pinned module and coil packs. These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
            p All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output 
              | as standard.
            p CHECKOUT using PAYPAL

        #CollapsiblePanel8.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 4cy Semi-Seq Fuel &amp Wasted Spark using 2 coils
                h4.text-primary.m-r-xs.inline.m-t-none Zetec, Vauxhall, VW,  Merc, BMW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £420 inc VAT 
                  span £350 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £516 inc VAT 
                  span £430 plus VAT 
          .CollapsiblePanelContent
            p This setup has 2 spark driver outputs (wasted spark on a 4cy) making it perfect for running a wasted spark configuration with coilpacks. This is also suitable for use with a single coil (disibutor based setup) when wanting to upgrade your engine to wasted spark at a later date, please let me know if this is the case. It is an ideal system for disibutorless setups that have a crank sensor and wheel with suitable patterns (36-1, 60-2, 24-1, RENIX, etc, etc).
            p The fueling side is driven in a Semi-Sequential pattern using 2 injector driver outputs firing 2 injectors at the same time. See HERE for more details on Sequential Fueling.
            p These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly.
            p Note that the MS1 option is not Semi-Sequential fuel, it is batch fuel.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output 
              | as standard.
            p All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL

        #CollapsiblePanel9.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 4cy Semi-Seq Fuel &amp Wasted Spark using 4 coils
                h4.text-primary.m-r-xs.inline.m-t-none COP, Zetec, Vauxhall, VW,  Merc, BMW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £438 inc VAT 
                  span £365 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £534 inc VAT 
                  span £445 plus VAT 
          .CollapsiblePanelContent
            p Wasted Spark COP: This ECU has 4 spark outputs, meaning it is designed to run on a 4 cylinder engine with COP's where only a suitable crank signal is available. 
            p To acheive this it fires the COP's in a wasted spark format (2 at the same time).
            p The spark outputs can be 5V to run COPs with built in ignitors (4 pinned Toyota, VW, etc) or coil drivers for standard 2 pinned inductive coils. Please sepecify what you have when ordering.
            p The fueling side is driven in a Semi-Sequential pattern using 2 injector driver outputs firing 2 injectors at the same time. See HERE for more details on Sequential Fueling.
            p Note that the MS1 option is not Semi-Sequential fuel, it is batch fuel.
            p These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
            p All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output 
              | as standard.
            p CHECKOUT using PAYPAL

        #CollapsiblePanel10.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 4cy Sequential Fuel and Seqential COP Ignition
                h4.text-primary.m-r-xs.inline.m-t-none Zetec, Vauxhall, VW,  Merc, BMW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £492 inc VAT 
                  span £410 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £648 inc VAT 
                  span £540 plus VAT 
          .CollapsiblePanelContent
            p
              b Sequential Spark COP:
            p This ECU has 4 spark outputs, meaning it is designed to run on a 4 cylinder engine with COP's.
            p
              em The MS3/MS3X ECUs have 5V Spark Outputs, so these must run a COP with a built in ignitor (4 pinned Toyota, VW, etc). If your coils are a standard 2 pinned inductive style, then it would need a spark driver box with 4 spark drivers in it. The MS2 ECUs can have 5V spark outputs. to run COPs with built in ignitors (4 pinned Toyota, VW, etc) or coil drivers for standard 2 pinned inductive coils. Please sepecify what you have when ordering.
            p Sequential Fuel: The fueling side is driven in a Fully Sequential pattern using 4 injector driver outputs firing each injector individually (High Impedance Injectors Only) See 
              a(href='Seq_MS2.html') HERE
              | for more details on Sequential Fueling.
            p This needs a cam and a crank based signal, so it can fire the COPs seqentially (60-2, 36-1, 24-1, etc crank and 1 pulse off the cam). Note: If no cam signal is present, the ECU can be setup to run in a wasted spark format using  4 outputs and fueling will still be sequential, but possibly 180deg out of phase with the engine cycle. (Not that this makes much, if any difference)
            p These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output 
              | as standard.
            p
              em All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL

            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='hosted_button_id', value='68TG2U6L4AMHU')
              .row.w-full
                .col-md-6.col-xs-12
                  h4 4cy Sequential Fuel and Ignition
                  input(type='hidden', name='on2', value='4cy Sequential Fuel and Ignition')
                  select(name='os0').form-control
                    option(value='MS2 + UK Postage') MS2 + UK Postage £475.00 GBP
                    option(value='MS2 + EU Postage') MS2 + EU Postage £480.00 GBP
                    option(value='MS3 + UK Postage') MS3 + UK Postage £615.00 GBP
                    option(value='MS3 + EU Postage') MS3 + EU Postage £620.00 GBP
                .col-md-6.col-xs-12
                  input(type='hidden', name='on1', value='Cam and Crank Trigger Sensors?')
                  h4 Cam and Crank Trigger Sensors?
                  input(type='text', name='os1', maxlength='200').form-control
                input(type='hidden', name='currency_code', value='GBP')
                .col-md-12.col-xs-12.m-t-md
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full
                img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')

        #CollapsiblePanel11.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 5cy with Sequential COP Ignition
                h4.text-primary.m-r-xs.inline.m-t-none Audi, Volvo, Ford, VW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £498 inc VAT 
                  span £415 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £648 inc VAT 
                  span £540 plus VAT 

          .CollapsiblePanelContent

            p.font-bold Sequential Spark COP:
            p This MS2 ECU has 5 spark outputs, meaning it is designed to run on a 5 cylinder engine with COP's. 
            p The MS3 option has 5V Spark drivers, so it can drive the 4 pinned Audi/VW COPs directly, but not a standard inductive coil.
            p To run an inductive coil it would need 5 spark drivers adding. Please 
              a(href='mailto:phil@exaefi.co.uk') Email me 
              | for more info on this.
            p The MS2 option can run either 5V outputs to drive COPs with built in ignitors (4 pinned devices from Toyota, VW, etc) or 5 coil drivers to directly fire inductive coils (2 pinned)
            p These ECUs needs a cam and a crank based signal, so it can fire the COPs seqentially. (60-2 crank and signal from the cam)
            p The fueling side of the MS2 ECU is driven in a batch fuel pattern using 2 injector driver outputs firing 5 injectors at the same time. 
            p The MS3 fueling  has 5 injector drivers, (High Impedance Injectors Only) so it can run the Fuel Sequentially.
            p See 
              a(href='Seq_MS2.html') HERE 
              | for more details on Sequential Fueling. 
            p These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 16x16, allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output 
              | as standard.
            p
              em All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL
            .row
              .col-md-6.col-xs-12
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='KTQTQXM5VX27C')
                  .w-full
                    h4 5cy Sequential Ignition (COP)
                    input(type='hidden', name='on0', value='5cy Sequential Ignition (COP)')
                    select(name='os0').form-control
                      option(value='MS2 + UK Postage') MS2 + UK Postage £475.00 GBP
                      option(value='MS2 + EU Postage') MS2 + EU Postage £480.00 GBP
                      option(value='Sequential Fuel + Ignition MS3/MS3X (5V Spark) + UK Postage') Sequential Fuel + Ignition MS3/MS3X (5V Spark) + UK Postage £615.00 GBP
                      option(value='Sequential Fuel + Ignition MS3 /MS3X (5V Spark) + EU Postage') Sequential Fuel + Ignition MS3 /MS3X (5V Spark) + EU Postage £620.00 GBP
                    h4 Cam and Crank Trigger Sensors?
                    input(type='hidden', name='on1', value='Cam and Crank Trigger Sensors?')
                    input(type='text', name='os1', maxlength='200').form-control
                    input(type='hidden', name='currency_code', value='GBP')
                    input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              .col-md-6.col-xs-12
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                  h4 ECU Options
                  input(type='hidden', name='on0', value='ECU Options')
                  select(name='os0').form-control
                    option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                    option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                    option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                    option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                    option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                  input(type='hidden', name='currency_code', value='GBP')
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')

        #CollapsiblePanel12.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 6cy Wasted Spark and Batch Fueling 
                h4.text-primary.m-r-xs.inline.m-t-none Ford, Vauxhall, VW, VR6,  Merc, BMW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £432 inc VAT 
                  span £360 plus VAT 
                h4.text-primary.text-right MS3: 
                  span £528 inc VAT 
                  span £440 plus VAT 

          .CollapsiblePanelContent
            p This setup has 3 spark driver outputs (wasted spark on a 6cy) making it perfect for running a wasted spark configuration with coilpacks. This is also suitable for use with a single coil (disibutor based setup) when wanting to upgrade your engine to wasted spark at a later date, please let me know if this is the case. It is an ideal system for disibutorless setups that have a crank sensor and wheel with suitable patterns (36-1, 60-2, 24-1, RENIX, etc, etc).
            p The fueling side is driven in a batch fuel pattern using 2 injector driver outputs firing 3 injectors at the same time.
            p These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output
              |  as standard.
            p
              em All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL
            
            .row
              .col-md-6.col-xs-12
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='2W9TQ85EVS5CA')
                  input(type='hidden', name='on0', value='MS for V6 Wasted SPark')
                  h4 MS for V6 Wasted Spark
                  select(name='os0').form-control
                    option(value='MS2 + UK Postage') MS2 + UK Postage £405.00 GBP
                    option(value='MS2 + EU Postage') MS2 + EU Postage £410.00 GBP
                    option(value='MS3 + UK Postage') MS3 + UK Postage £490.00 GBP
                    option(value='MS3 + EU Postage') MS3 + EU Postage £495.00 GBP
                    option(value='MS1 + UK Postage (Batch Fuel)') MS1 + UK Postage (Batch Fuel) £355.00 GBP
                    option(value='MS1 + EU Postage (Batch Fuel)') MS1 + EU Postage (Batch Fuel) £360.00 GBP
                  input(type='hidden', name='on1', value='Enter engine year / cc Info')
                  h4 Enter engine year / cc Info
                  input(type='text', name='os1', maxlength='200').form-control
                  input(type='hidden', name='currency_code', value='GBP')
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              .col-md-6.col-xs-12
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                  input(type='hidden', name='on0', value='ECU Options')
                  h4 ECU Options
                  select(name='os0').form-control
                    option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                    option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                    option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                    option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                    option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                  input(type='hidden', name='currency_code', value='GBP')
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')

        #CollapsiblePanel13.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 6cy Semi-Sequential Fuel with Wasted Spark 
                h4.text-primary.m-r-xs.inline.m-t-none Ford, Vauxhall, VW, VR6,  Merc, BMW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span £498 inc VAT 
                  span £415 plus VAT 
                h4.text-primary.text-right MS3: 
                  span Not Available 
          .CollapsiblePanelContent
            p This setup has  3 spark driver outputs (wasted spark on a 6cy) making it perfect for running a wasted spark configuration with coilpacks. This is also suitable for use with a single coil (disibutor based setup) when wanting to upgrade your engine to wasted spark at a later date, please let me know if this is the case. It is an ideal system for disibutorless setups that have a crank sensor and wheel with suitable patterns (36-1, 60-2, 24-1, RENIX, etc, etc).
            p The fueling side is driven in a Semi-Sequential pattern using 3 injector driver outputs firing 2 injectors at the same time. See 
              a(href='Seq_MS2.html') HERE 
              | for more details on Sequential Fueling.
            p These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly.
            p This includes a 
              a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output 
              | as standard.
            p
              em All the ECUs include a 1m bare ended loom, comms lead and manuals.
            p CHECKOUT using PAYPAL
            .row
              .col-md-6.col-xs-12
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='ADQUMBUC9X5LW')

                  input(type='hidden', name='on0', value='MS for V6 Semi-Seq Fuel + Wasted Spark')
                  h4 MS for V6 Semi-Seq Fuel + Wasted Spark

                  select(name='os0').form-control
                    option(value='MS2 + UK Postage') MS2 + UK Postage £475.00 GBP
                    option(value='MS2 + EU Postage') MS2 + EU Postage £480.00 GBP

                  input(type='hidden', name='on1', value='Enter engine year / cc Info')
                  h4 Enter engine year / cc Info

                  input(type='text', name='os1', maxlength='200').form-control

                  input(type='hidden', name='currency_code', value='GBP')
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              .col-md-6.col-xs-12
                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                  input(type='hidden', name='cmd', value='_s-xclick')
                  input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                  input(type='hidden', name='on0', value='ECU Options')
                  h4 ECU Options
                  select(name='os0').form-control
                    option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                    option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                    option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                    option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                    option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                    option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                  input(type='hidden', name='currency_code', value='GBP')
                  input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              td.price-box
                span
                  span £498 inc VAT
                  br
                  span
                    | *
                    br
                    | £415   plus VAT
              td
                | N/A
      
        #CollapsiblePanel13.CollapsiblePanel.CollapsiblePanelClosed.wrapper-lg.bg-light.m-b-xl
          .CollapsiblePanelTab(tabindex='0').text-black
            .row
              .col-md-7.col-sm-6.col-xs-12
                h3.font-thin.m-t-sm 6cy Sequential Fuel with Sequential COP Ignition
                h4.text-primary.m-r-xs.inline.m-t-none Zetec, Vauxhall, VW, VR6, Merc, BMW, etc
                small Click for more Info
              .col-md-5.col-sm-6.col-xs-12
                h4.text-primary.text-right MS2: 
                  span Not Available
                h4.text-primary.text-right MS3: 
                  span £648 inc VAT
                  span £640 inc VAT

          #CollapsiblePanel14.CollapsiblePanel.CollapsiblePanelClosed
            .CollapsiblePanelTab(tabindex='0')
              p
                span
                  | 6cy Sequential Fuel with Sequential COP Ignition (Zetec, Vauxhall, VW, Merc, BMW, etc)
                span
                  em
                    br
                    |                         Click for more Info
            .CollapsiblePanelContent
              table(width='100%')
                tbody
                  
                    td(height='136', style='width: 35%;')
                      p
                        b Sequential Spark COP:
                        |  This ECU has 6 spark outputs, meaning it is designed to run on a 6 cylinder engine with COP's. The 5V spark outputs are designed to run COPs with built in ignitors (4 pinned devices such as Toyota, VW, etc) where as the  option with Spark Drivers can directly fire a standard inductive coil (2 pinned devices such as BMW, etc)
                        br
                        br
                        song Sequential Fuel: 
                        | The fueling side is driven in a Fully Sequential pattern using 6 injector driver outputs firing each injector individually (High Imedance Injectors Only).  See 
                        a(href='Seq_MS2.html') HERE
                        |  for more details on Sequential Fueling.
                      p
                        | This needs a cam and a crank based signal, so it can fire the COPs seqentially (60-2, 36-1, 24-1, etc crank and 1 pulse off the cam). 
                        br
                        | Note:
                        |                                 If no cam signal is present, the ECU can be setup to run in a wasted spark format using 6 outputs and fueling will still be sequential, but possibly 180deg out of phase with the engine cycle. (Not that this makes much, if any difference)
                      p
                        | These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 16x16 table, allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
                      p
                        | This includes a 
                        a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output
                        |  as standard.
                      p
                        song
                          em All the ECUs include a 1m bare ended loom, comms lead and manuals.
                      p
                        song CHECKOUT using PAYPAL
                          .row
                            .col-md-6.col-xs-12
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='Y9HL4D7YBBFE8')
                                input(type='hidden', name='on0', value='6cy Sequential Ignition and Fuel')
                                h4 6cy Sequential Ignition and Fuel
                                select(name='os0').form-control
                                  option(value='MS3/MS3X (5V Spark) + UK Postage') MS3/MS3X (5V Spark) + UK Postage £615.00 GBP
                                  option(value='MS3/MS3X (5V Spark) + EU Postage') MS3/MS3X (5V Spark) + EU Postage £620.00 GBP
                                  option(value='MS3/MS3X with 6 spark drivers + UK Postage') MS3/MS3X with 6 spark drivers + UK Postage £705.00 GBP
                                  option(value='MS3/MS3X with 6 spark drivers + EU Postage') MS3/MS3X with 6 spark drivers + EU Postage £710.00 GBP
                                input(type='hidden', name='on1', value='Cam and Crank Trigger Sensors?')
                                h4 Cam and Crank Trigger Sensors?
                                input(type='text', name='os1', maxlength='200').form-control

                                input(type='hidden', name='currency_code', value='GBP')
                                input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                                img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
                            .col-md-6.col-xs-12
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='ZS2DFXF78NAC6')
                                input(type='hidden', name='on0', value='MS3X Options')
                                h4 MS3X Options
                                select(name='os0').form-control
                                  option(value='38PSI Map sensor (Standard MAP is 21psi)') 38PSI Map sensor (Standard MAP is 21psi) £60.00 GBP
                                  option(value='2m bare ended Looms (Standard is 1m)') 2m bare ended Looms (Standard is 1m) £20.00 GBP
                                input(type='hidden', name='currency_code', value='GBP')
                                input(type='submit', border='0', name='submit', value='Pay with Paypal', alt='PayPal — The safer, easier way to pay online.').btn.btn-dark.w-full.m-t-md
                                img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')

      
        td
          #CollapsiblePanel15.CollapsiblePanel.CollapsiblePanelClosed
            .CollapsiblePanelTab(tabindex='0')
              p
                span 8cy Wasted Spark 
                | and Batch Fueling 
                span (Rover V8, Lexus, BMW, Merc, Ford, Chevy, etc)
                span
                  em
                    br
                    |                         Click for more Info
            .CollapsiblePanelContent
              table(width='100%')
                tbody
                  
                    td(height='193', style='width: 35%;')
                      p
                        | This setup has  4 spark driver outputs (wasted spark on a 8cy) making it perfect for running a wasted spark configuration with coilpacks. This is also suitable for use with a single coil (disibutor based setup) when wanting to upgrade your engine to wasted spark at a later date, please let 
                        | me know if this is the case. It is an ideal system for disibutorless setups that have a crank sensor and wheel with suitable patterns (36-1, 60-2, 24-1, etc, etc).
                        br
                        |                               The fueling side is driven in a batch fueling pattern using 2 injector driver outputs firing 4 injectors at the same time. 
                        br
                        |                               These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly.
                        br
                      p
                        | This includes a 
                        a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output
                        |  as standard
                      p
                        span
                          song
                            em All the ECUs include a 1m bare ended loom, comms lead and manuals.
                        br
                      p
                        song CHECKOUT using PAYPAL
                      table(width='674', border='1', align='center')
                        tbody
                          
                            td(width='328', height='239')  
                            td(width='330')  
              td
                span
                  span £504 inc VAT
                  br
                  span £420  plus VAT
              td
                span
                  span £600 inc VAT
                  br
                  span £500  plus VAT
      
        td
          #CollapsiblePanel16.CollapsiblePanel.CollapsiblePanelClosed
            .CollapsiblePanelTab(tabindex='0')
              p
                span
                  | 8cy Wasted Spark and Semi-Sequential Fuel (Rover V8, Lexus, BMW, Merc, Ford, Chevy, etc)
                span
                  span
                    em
                      br
                      |                         Click for more Info
            .CollapsiblePanelContent
              table(width='100%')
                tbody
                  
                    td(height='136', style='width: 35%;')
                      p
                        | This setup has  4 spark driver outputs (wasted spark on a 8cy) making it perfect for running a wasted spark configuration with coilpacks. This is also suitable for use with a single coil (disibutor based setup) when wanting to upgrade your engine to wasted spark at a later date, please let 
                        | me know if this is the case. It is an ideal system for disibutorless setups that have a crank sensor and wheel with suitable patterns (36-1, 60-2, 24-1, etc, etc).
                        br
                        |                               The MS3 ECU option has 5V spark outputs, designed to run COPs with built in ignitors (4 pinned devices such as Toyota, VW, etc)  or the VW Coil packs with the heat sinks on the top from the 2000 style beetle, golf, etc.
                        br
                        br
                        |                               The fueling side is driven in a Semi-Sequential pattern using 4 injector driver outputs (High Impedance Injectors Only) firing 2 injectors at the same time. See 
                        a(href='Seq_MS2.html') HERE
                        |  for more details on Sequential Fueling.
                        br
                        br
                        |                               These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly.
                        br
                      p
                        | This includes a 
                        a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output
                        |  as standard.
                      p
                        song
                          em All the ECUs include a 1m bare ended loom, comms lead and manuals.
                      p
                        song CHECKOUT using PAYPAL
                      table(width='674', border='1', align='center')
                        tbody
                          
                            td(width='328', height='243')
                              div(align='center')
                                form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                  input(type='hidden', name='cmd', value='_s-xclick')
                                  input(type='hidden', name='hosted_button_id', value='562XBD23T2V9C')
                                  table(border='1')
                                    tbody
                                      
                                        td
                                          div(align='center')
                                            input(type='hidden', name='on0', value='MS for V8 Semi Fuel Wasted Spark')
                                            song MS for V8 Semi Fuel Wasted Spark
                                      
                                        td
                                          select(name='os0')
                                            option(value='MS2 + UK Postage') MS2 + UK Postage £475.00 GBP
                                            option(value='MS2 + EU Postage') MS2 + EU Postage £480.00 GBP
                                            option(value='MS3/MS3X (5V Spark Outputs)+ UK Postage') MS3/MS3X (5V Spark Outputs)+ UK Postage £615.00 GBP
                                            option(value='MS3/MS3X (5V Spark Outputs) + EU Postage') MS3/MS3X (5V Spark Outputs) + EU Postage £620.00 GBP
                                            option(value='MS3/MS3X with 4 Spark Drivers + UK Postage') MS3/MS3X with 4 Spark Drivers + UK Postage £670.00 GBP
                                            option(value='MS3/MS3X with 4 Spark Drivers + EU Postage') MS3/MS3X with 4 Spark Drivers + EU Postage £675.00 GBP
                                      
                                        td
                                          div(align='center')
                                            input(type='hidden', name='on1', value='Enter engine year / cc Info')
                                            |   Enter engine year / cc Info
                                      
                                        td
                                          div(align='center')
                                            input(type='text', name='os1', maxlength='200')
                                  input(type='hidden', name='currency_code', value='GBP')
                                  input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
                            td(width='330')
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                                table(border='1')
                                  tbody
                                    
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on0', value='ECU Options')
                                          song ECU Options
                                    
                                      td
                                        select(name='os0')
                                          option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                                          option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                                          option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                                          option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                                          option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                                          option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                                          option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                                          option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                                div(align='center')
                                  input(type='hidden', name='currency_code', value='GBP')
                                  input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              td.price-box
                span
                  span £498 inc VAT
                  br
                  span
                    | *
                    br
                    | £415   plus VAT
              td.price-box
                span
                  span £648 inc VAT
                  span **
                  br
                  span £540  plus VAT
      
        td
          #CollapsiblePanel17.CollapsiblePanel.CollapsiblePanelClosed
            .CollapsiblePanelTab(tabindex='0')
              p
                span
                  | 8cy Sequential Fuel and Sequential COP Ignition (Rover V8, Lexus, BMW, Merc, Ford, Chevy, etc)
                span
                  br
                  em Click for more Info
            .CollapsiblePanelContent
              table(width='100%')
                tbody
                  
                    td(height='136', style='width: 35%;')
                      p
                        b Sequential Spark COP:
                        |  This ECU has 8 x 5V spark outputs, meaning it is designed to run on a 8 cylinder engine with COP's.
                        br
                        |                               The 5V spark outputs are designed to run COPs with built in ignitors (4 pinned devices such as Toyota, VW, LS2, etc) where as the  option with Spark Drivers can directly fire a standard inductive coil (2 pinned devices such as BMW, etc)
                      p
                        song Sequential Fuel: 
                        | The fueling side is driven in a Fully Sequential pattern using 8 injector driver outputs firing each injector (High Impedance Only) individually.  See 
                        a(href='Seq_MS2.html') HERE
                        |  for more details on Sequential Fueling.
                      p
                        | This needs a cam and a crank based signal, so it can fire the COPs seqentially (60-2, 36-1, 24-1, etc crank and 1 pulse off the cam). 
                        br
                        |                                 Note: 
                        |                                 If no cam signal is present, the ECU can be setup to run in a wasted spark format using all 8 outputs and fueling will still be sequential, but possibly 180deg out of phase with the engine cycle. (Not that this makes much, if any difference)
                        br
                      p
                        | These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 16x16 table, allowing you to tune the engine properly using lambda feedback, warmup correction, etc.
                      p
                        | This includes a 
                        a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output
                        |  as standard.
                      p
                        song
                          em All the ECUs include a 1m bare ended loom, comms lead and manuals.
                      p
                        song CHECKOUT using PAYPAL
                      table(width='674', border='1', align='center')
                        tbody
                          
                            td(width='328', height='243')
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='QX2XHF7YJ7BYY')
                                table(border='1', align='center')
                                  tbody
                                    
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on0', value='8cy Sequential Ignition and Fuel')
                                          song 8cy Sequential Ignition and Fuel
                                    
                                      td
                                        select(name='os0')
                                          option(value='MS3/MS3X (5V Spark) + UK Postage') MS3/MS3X (5V Spark) + UK Postage £615.00 GBP
                                          option(value='MS3/MS3X (5V Spark) + EU Postage') MS3/MS3X (5V Spark) + EU Postage £620.00 GBP
                                          option(value='MS3/MS3X with 4 spark drivers (Wasted Spark) + UK Postage') MS3/MS3X with 4 spark drivers (Wasted Spark) + UK Postage £690.00 GBP
                                          option(value='MS3/MS3X with 4 spark drivers (Wasted Spark) + EU Postage') MS3/MS3X with 4 spark drivers (Wasted Spark) + EU Postage £695.00 GBP
                                          option(value='MS3/MS3X with 8 spark drivers + UK Postage') MS3/MS3X with 8 spark drivers + UK Postage £765.00 GBP
                                          option(value='MS3/MS3X with 8 spark drivers + EU Postage') MS3/MS3X with 8 spark drivers + EU Postage £770.00 GBP
                                    
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on1', value='Cam and Crank Trigger Sensors?')
                                          |   Cam and Crank Trigger Sensors?
                                    
                                      td
                                        div(align='center')
                                          input(type='text', name='os1', maxlength='200')
                                div(align='center')
                                  input(type='hidden', name='currency_code', value='GBP')
                                  input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
                            td(width='328')
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='ZS2DFXF78NAC6')
                                table(border='1', align='center')
                                  tbody
                                    
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on0', value='MS3X Options')
                                          song MS3X Options
                                    
                                      td
                                        select(name='os0')
                                          option(value='38PSI Map sensor (Standard MAP is 21psi)') 38PSI Map sensor (Standard MAP is 21psi) £60.00 GBP
                                          option(value='2m bare ended Looms (Standard is 1m)') 2m bare ended Looms (Standard is 1m) £20.00 GBP
                                div(align='center')
                                  input(type='hidden', name='currency_code', value='GBP')
                                  input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              td
                | N/A
              td.price-box
                span
                  span £648 inc VAT
                  span **
                  br
                  span £540  plus VAT
      
        td
          #CollapsiblePanel18.CollapsiblePanel.CollapsiblePanelClosed
            .CollapsiblePanelTab(tabindex='0')
              p
                span 12cy Wasted Spark
                |  and Batch Fueling
                span  (Jag, BMW, Merc, etc) 
                span
                  em
                    | Inc 2 x Quad Spark Driver Units
                    br
                    |                         Click for more Info
            .CollapsiblePanelContent
              table(width='100%')
                tbody
                  
                    td(height='193', style='width: 35%;')
                      p
                        | This setup has  6 spark driver outputs (wasted spark on a 12cy) making it perfect for running a wasted spark configuration with coilpacks. This is also suitable for use with a single coil (disibutor based setup) when wanting to upgrade your engine to wasted spark at a later date, please let 
                        | me know if this is the case. It is an ideal system for disibutorless setups that have a crank sensor and wheel with suitable patterns (36-1, 60-2, 24-1, etc, etc).
                        br
                        |                               The fueling side is driven in a batch fuel pattern using 2 injector driver outputs firing 6 injectors at the same time.
                        br
                        |                               These ECU's will give you conol over your ignition map (12x12 table) and your fueling with a 12x12 table (16x16 on MS2 and MS3), allowing you to tune the engine properly.
                        br
                      p
                        | This includes a 
                        a(href='Drawings/PDF_Files/tacho_Wiring.pdf') Tacho Output
                        |  as standard.
                      p
                        song
                          em All the ECUs include a 1m bare ended loom, comms lead and manuals.
                      p
                        song CHECKOUT using PAYPAL
                      table(width='674', border='1', align='center')
                        tbody
                          
                            td(width='328', height='239')
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='VUM6JAH3NEQLL')
                                table(border='1', align='center')
                                  tbody
                                    tr
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on0', value='MS for V12 Wasted Spark')
                                          song MS for V12 Wasted Spark
                                    tr
                                      td
                                        select(name='os0')
                                          option(value='MS2 + UK Postage') MS2 + UK Postage £495.00 GBP
                                          option(value='MS2 + EU Postage') MS2 + EU Postage £500.00 GBP
                                          option(value='MS3 + UK Postage') MS3 + UK Postage £575.00 GBP
                                          option(value='MS3 + EU Postage') MS3 + EU Postage £580.00 GBP
                                    tr
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on1', value='Enter engine year / cc Info')
                                          |   Enter engine year / cc Info
                                    tr
                                      td
                                        div(align='center')
                                          input(type='text', name='os1', maxlength='200')
                                div(align='center')
                                  input(type='hidden', name='currency_code', value='GBP')
                                  input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
                            td(width='330')
                              form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
                                input(type='hidden', name='cmd', value='_s-xclick')
                                input(type='hidden', name='hosted_button_id', value='TK4B77GQFG8GQ')
                                table(border='1')
                                  tbody
                                    
                                      td
                                        div(align='center')
                                          input(type='hidden', name='on0', value='ECU Options')
                                          song ECU Options
                                    
                                      td
                                        select(name='os0')
                                          option(value='Programmable Output (Fan, etc) (NOT for ECUs with MS3X)') Programmable Output (Fan, etc) (NOT for ECUs with MS3X) £5.00 GBP
                                          option(value='38PSI Map sensor') 38PSI Map sensor £60.00 GBP
                                          option(value='Launch Conol (NOT for ECUs with MS3X)') Launch Conol (NOT for ECUs with MS3X) £5.00 GBP
                                          option(value='Switchable Maps (NOT for ECUs with MS3X)') Switchable Maps (NOT for ECUs with MS3X) £5.00 GBP
                                          option(value='2 Meter Loom') 2 Meter Loom £10.00 GBP
                                          option(value='MS3X Card with 1m loom (For MS3 ECUs ONLY)') MS3X Card with 1m loom (For MS3 ECUs ONLY) £115.00 GBP
                                          option(value='MS3X Card with 2m loom (For MS3 ECUs ONLY)') MS3X Card with 2m loom (For MS3 ECUs ONLY) £125.00 GBP
                                          option(value='USB Port (MS1 and MS2 ONLY)') USB Port (MS1 and MS2 ONLY) £30.00 GBP
                                div(align='center')
                                  input(type='hidden', name='currency_code', value='GBP')
                                  input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
                                  img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1', style='display: none !important;')
              td
                span
                  span £552 inc VAT
                  br
                  span £460  plus VAT
              td
                span
                  span £648  inc VAT
                  br
                  span £540  plus VAT

