extends /templates/layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
      h3.m-none.text-info.flex.flex-fill ECU's Features &amp; Comparisons

    .bg-white.wrapper.m-t-xl.m-b-xl
      ul.nav.nav-pills.nav-justified.w-full(role='tablist')
        li.active(role='presentation')
          a(href='#hardware', aria-controls='hardware', role='tab', data-toggle='tab') Hardware Compaisons
        li(role='presentation')
          a(href='#feature', aria-controls='feature', role='tab', data-toggle='tab') Feature Compaisons
        li(role='presentation')
         a(href='#setup', aria-controls='setup', role='tab', data-toggle='tab') Standard Setup Compaisons


      .tab-content.m-t-md
        #hardware.tab-pane.active(role='tabpanel')
          table.table
            thead
              tr
                th
                  | Hardware:
                th
                  | MS1
                th
                  | MS2
                th
                  | MS3
            tbody
              tr
                td
                  | Number of Injector Channels capable of driving 6 injectors each
                td
                  | 2 channels
                td.bg-light
                  | Up to 4 
                  span.text-danger **
                td.bg-light
                  | Up to 8 
                  span.text-danger **
              tr
                td
                  | Injector Channels with Lo-impedance capability
                td
                  | 2
                td
                  | 2
                td
                  | 2
              tr
                td
                  | Idle Valve Output for a 2 or 3 wired idle valve (PWM)
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Stepper Motor Idle Valve (4 Wired)
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Fuel Pump Relay Control
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Air Inlet Temperature, Coolant Temperature, Oxygen Sensor and TPS Inputs
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | WideBand and NarrowBand Lambda Compatable
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | 21 PSI Built-in MAP Sensor
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Optional 38 PSI MAP sensor 
                  span.text-danger ***
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Max number of VR sensor Input (Magnetic crank sensor), Hall or Points Input
                td.bg-light
                  | 2 
                  span.text-danger ****
                td.bg-light
                  | 2 
                  span.text-danger ****
                td.bg-light
                  | 2 
                  span.text-danger ****
              tr
                td
                  | Spark Driver (Number added is dependant on your engine)
                td
                  | Up to 6
                td
                  | Up to 6
                td.bg-light
                  | Up to 8 
                  span.text-danger **
              tr
                td
                  | RS232 Serial Comms
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | CAN Comms
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | USB Comms
                td
                  | Yes (With suitable adaptor)
                td
                  | Yes (With suitable adaptor)
                td
                  | Yes (With suitable adaptor)
              tr
                td.bg-light
                  | Knock, Launch, NOS, Fuel/Spark Table switching Inputs 
                  span.text-danger ***
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Spare Analogue Inputs 
                  span.text-danger ***
                td
                  | 2
                td
                  | 2
                td.bg-light
                  | 2 
                  span.text-danger (3 ***)
              tr
                td.bg-light
                  | Cooling Fan Control, Boost Control and Tach Outputs 
                  span.text-danger ***
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Water Injection (PWM) Output 
                  span.text-danger ***
                td
                  | Yes
                td
                  | No
                td
                  | No

          p
            b IMPORTANT NOTES:
          p
            i
              | Marked with ONE 
              span.text-danger *
              | :
          p
            | MS2 and MS3 ECU's can be built with up to 4 injector channels. (Anything over 2 injector channels
            | would need high impedance injectors only.)
          hr
          p
            i
              | Marked with TWO 
              span.text-danger **
              | :
          p
            | MS3 ECU's need an 
            a(href='MS3X_board.html') MS3X Card
            |  added to give these features. (Spark drivers on the MS3X
            |                           Board are low level and need coils with built in ignitors)
          hr
          p
            i
              | Marked with THREE 
              span.text-danger ***
              | :
          p
            | See the 
            a(href='#options_extra')
              | optional
              | extra's
            |  as these need to be added during the build stage to work.
          hr
          p
            i
              | Marked with FOUR 
              span.text-danger ****
              | :
          p
            | The MS1 and MS2 has one VR/Hall input as standard. I can add another one to MS1 or MS2 depending on your engine's
            | requirments. MS3 with an MS3X card has 2 VR / Hall inputs.
        #feature.tab-pane(role='tabpanel')
          table.table
            thead
              tr
                th
                  | Features:
                th
                  | MS1
                th
                  | MS2
                th
                  | MS3
            tbody
              tr
                td
                  | Fuel Table Size
                td
                  | 12x12
                td
                  | 12x12 or 16x16
                td
                  | 16x16
              tr
                td
                  | RPM Resolution
                td
                  | 100RPM
                td
                  | 1 RPM
                td
                  | 1 RPM
              tr
                td
                  | Fuel Resolution
                td
                  | 100uS
                td.bg-light
                  | 0.16uS 
                  span.text-danger ***
                td.bg-light
                  | 0.16uS 
                  span.text-danger ***
              tr
                td
                  | Spark Table Size
                td
                  | 12x12
                td
                  | 12x12
                td
                  | 16x16
              tr
                td
                  | Advance Resolution
                td
                  | 0.3 deg
                td
                  | 0.1 deg
                td
                  | 0.1 deg
              tr
                td
                  | Batch Fire
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Sequential Fuel Firing 
                  span.text-danger *
                td
                  | No
                td
                  | Yes (Up to 4cy)
                td
                  | Yes (Up to 8 cy)
              tr
                td.bg-light
                  | Semi-Sequential Fuel Firing 
                  span.text-danger *
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Sequential Ignition with Suitable Cam and Crank Inputs 
                  span.text-danger *
                td
                  | Yes (Up to 5cy)
                td
                  | Yes (Up to 5cy)
                td
                  | Yes (Up to 8cy)
              tr
                td.bg-light
                  | Distributor Based 
                  span.text-danger *
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Wasted Spark with Suitable Cam/Crank Signals 
                  span.text-danger *
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Coil On Plug (COP) with Suitable Cam/Crank Signals 
                  span.text-danger *
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Mapped Table for Individual Injector Trim
                td
                  | No
                td
                  | Up to 4 channels
                td
                  | Up to 8 channels
              tr
                td
                  | Mapped Table for Individual Spark Trim
                td
                  | No
                td
                  | No
                td
                  | Up to 8 channels
              tr
                td
                  | Mapped Table for Individual Injector Timing
                td
                  | No
                td
                  | Timed for start, middle and end of injection pulse
                td
                  | Timed for start, middle and end of injection pulse
              tr
                td
                  | Spark Dwell Control
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Boost Control 
                  span.text-danger **
                td
                  | Open Loop
                td
                  | Open Loop and closed with PID
                td
                  | Open Loop and closed with PID
              tr
                td
                  | Barometric Correction Taken at Power on
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td.bg-light
                  | Real Time Baro Correction 
                  span.text-danger **
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Test Mode for Fuel Pump, Injectors and Spark
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Rev Limiter
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Overrun Fuel Cut
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Staged Injection, Control 2 Banks of Injectors Seperately
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Acceleration Enrichment
                td
                  | RPM, TPS, MAP based
                td
                  | RPM, TPS, MAP based
                td
                  | RPM, TPS, MAP based
              tr
                td
                  | Enhanced Acceleration Enrichment - Wall Wetting
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | AFR Target Tables
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
          p
            b IMPORTANT NOTES:
          p
            i
              | Marked with ONE 
              span.text-danger *
              | :
          p
            | This is dependant on your engine setup and
            | how you want the ECU configured.
          hr
          p
            i
              | Marked with TWO 
              span.text-danger **
              | :
          p
            | See the 
            a(href='#options_extra') optional extra's
            | as these need
            | to be added to work.
          hr
          p
            i
              | Marked with THREE 
              span.text-danger ***
              | :
          p
            | The fuel control resolution won't actually 
            | be down to this level due to 
            br
            | VE and req_fuel resolution. But the hardware is capable of this control.

        #setup.tab-pane(role='tabpanel')
          table.table
            thead
              tr
                th
                  | Setups that can be Decoded as Standard:
                th
                  | MS1
                th
                  | MS2
                th
                  | MS3
            tbody
              tr
                td
                  | Distributor Based
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Ford TFI and EDIS
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | GM HEI and GMDIS
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Dual Distributor
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Neon 420
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Ford 36-1
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Bosch, GM, Vauxhall, BMW, etc. 60-2
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | 36-1+1
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | 36-2-2-2
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Subaru 6/7
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | IAW Weber- Marelli
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Mitsubushi 6g72
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | 4/1 CAS
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | 4G63 (Miata)
                td
                  | Yes
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | 99-00 Miata
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Renix 44-2-2
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Twin Trigger (aka. Dual Spark)
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Suzuki Swift
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Suzuki Vitara
                td
                  | No
                td
                  | Yes (UNTESTED)
                td
                  | Yes (UNTESTED)
              tr
                td
                  | Daihatsu 3 cyl
                td
                  | No
                td
                  | Yes (UNPROVEN)
                td
                  | Yes (UNPROVEN)
              tr
                td
                  | Daihatsu 4cyl
                td
                  | No
                td
                  | Yes (UNTESTED)
                td
                  | Yes (UNTESTED)
              tr
                td
                  | Rover K Series 36-1-1
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Rover K Series 36-1-1-1-1
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Rover K Series 36-2-2
                td
                  | No
                td
                  | Yes (UNTESTED)
                td
                  | Yes (UNTESTED)
              tr
                td
                  | Honda VTR1000 12-3
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Chrysler 2.2/2.5
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | GM 7X Native
                td
                  | No
                td
                  | Yes
                td
                  | Yes
              tr
                td
                  | Nissan 360 Tooth CAS
                td
                  | No
                td
                  | UNDER TESTING
                td
                  | UNDER TESTING
          p
            | Note that all the listed setups would need to 
            | have the ECU configured and built for them specifically, 
            br
            | this is what I do when I build them for you.


    .bg-white.wrapper.m-t-xl.m-b-xl
      ul.nav.nav-pills.nav-justified.w-full(role='tablist')
        li.active(role='presentation')
          a(href='#ms1', aria-controls='ms1', role='tab', data-toggle='tab') Hardware Compaisons
        li(role='presentation')
          a(href='#ms2', aria-controls='ms2', role='tab', data-toggle='tab') Hardware Compaisons
        li(role='presentation')
          a(href='#ms3', aria-controls='ms3', role='tab', data-toggle='tab') Hardware Compaisons
      .tab-content.m-t-md
        #ms1.tab-pane.active(role='tabpanel')

          h3 MS1 Option Configuration:
          p Two functions in the same row can NOT be used together! 
          p e.g. NOS and Water Injection as they are not used in another pad, etc, 
          p but NOS and Tacho could, as tacho can come from JS3.
          table.table
            thead
              tr
                td
                  b Pad
                td
                  b Function A
                td
                  b Function B
            tbody
              tr
                td
                  b
                    font(color='#000') JS0
                td
                  font(color='#006666') Cooling Fan Relay
                td
                  font(color='#9900FF') Water Injection Water Pump Relay
              tr
                td
                  b
                    font(color='#000') JS1
                td
                  font(color='#990066') NOS Relay Output
                td
                  font(color='#9900FF')
                    | Water Injection PWM Output Water Valve 
                    span.color-red ¡
              tr
                td
                  b
                    font(color='#000') JS2
                td
                  font(color='#FF00FF') Programmable Output 1
                td
                  font(color='#666')
                    | Boost Controller PWM Output 
                    span.text-danger ¡
              tr
                td
                  b
                    font(color='#000') JS3
                td
                  font(color='#FF00FF') Programmable Output 2
                td
                  font(color='#FF0000') Tacho Output
              tr
                td
                  b
                    font(color='#000') JS5
                td
                  font(color='#0000CC') Constant Barometric Correction
                td
                  font(color='#666') Second O2 sensor
              tr
                td
                  b
                    font(color='#000') JS7
                td
                  font(color='#000')
                    | Spark E 
                    | (5 COP - 10 and over Wasted Spark setups)
                td
                  font(color='#000') ...
              tr
                td
                  b
                    font(color='#000') JS8
                td
                  font(color='#333399') Second Trigger Input
                td
                  font(color='#000000') ...
              tr
                td
                  b
                    font(color='#000') JS9
                td
                  font(color='#990066') NOS Input (To switch tables or Retard Ignition)
                td
                  font(color='#00CC99') Switch VE and/or Ignition Map and/or Boost Target Tables
              tr
                td
                  b
                    font(color='#000') JS10
                td
                  font(color='#000')
                    | Spark F 
                    |  (12cy Wasted Spark setups)
                td
                  font(color='#000') Knock Input
              tr
                td
                  b
                    font(color='#000') JS11
                td
                  font(color='#0000FF') Launch Control input
                td
                  font(color='#000') ...
              tr
                td
                  b
                    font(color='#000') D14
                td
                  font(color='#000')
                    | Spark A 
                    |  (Used for vertually all Ignition setups)
                td
                  font(color='#000') ...
              tr
                td
                  b
                    font(color='#000') D15
                td
                  font(color='#000')
                    | Spark C 
                    | (6cy and over Wasted Spark setups)
                td
                  font(color='#FF00FF') Programmable Output 4 
                  font(color='#006666')
                    |                         (Cooling Fan Relay)
              tr
                td
                  b
                    font(color='#000') D16
                td
                  font(color='#000')
                    | Spark B 
                    | (4cy and over Wasted Spark setups)
                td
                  font(color='#FF00FF') ...
              tr
                td
                  b
                    font(color='#000') R1
                td
                  font(color='#000')
                    | Spark D 
                    | (8cy and over Wasted Spark setups)
                td
                  font(color='#FF00FF') Programmable Output 3 (Timed Delay possible)
          p
            b
              font(color='#FF0000') ¡
            |  = NOT recommended to use these together.
          p
            b Note:
            |  Most outputs can be set for Tacho, ExtraEFI.co.uk uses JS3 if available.



        #ms2.tab-pane(role='tabpanel')

          h3 MS2 and MS3 Option Configuration:
          p Any function in the same row (A B C D E or F) can NOT be used together!
          p (e.g. if your using a Stepper Motor for idle you can NOT use NOS Control as it's not used in another pad, etc, 
          p but Stepper Motor and Tacho could be used together as Tacho can come from JS11, or others.)
          p Note: For MS3 ECU's without an MS3X board you can have the same options as the table below.
          p If you go for an MS3X board then you will get 
            a(href='MS3X_board.html') THESE 
            | options all built-in, so you can ignore the table below.
          table.table
            tbody
              tr
                td(height='21', width='6%')
                  div
                    font(color='#000')
                      b Pad
                td(height='21', width='20%')
                  div
                    font(color='#000')
                      b A
                td(height='21', width='13%')
                  div
                    font(color='#000')
                      b B
                td(height='21', width='13%')
                  div
                    font(color='#000')
                      b C
                td(height='21', width='13%')
                  div
                    font(color='#000')
                      b D
                td(height='21', width='18%')
                  div
                    font(color='#000')
                      b E
                      font
                td(height='21', width='17%')
                  div
                    font(color='#000')
                      b F
              tr
                td(width='6%', height='41')
                  div
                    b
                      font(color='#000') JS0
                td(width='20%', height='41')
                  div
                    font(color='#000')
                      | Stepper Motor (JS0 - JS3) 
                      b †
                td(width='13%', height='41')
                  div
                    font(color='#FF00FF') Programmable Output
                td(width='13%', height='41')
                  div
                    font(color='#FF0000') Tacho Output 
                td(width='13%', height='41')
                  div
                    font(color='#990066') NOS Relay Output (Stage 1)
                td(width='18%', height='41')
                  div
                    font(color='#666666') Boost Control PWM Output
                td(width='17%', height='41')
                  div
                    font(color='#000') ...
              tr
                td(width='6%', height='2')
                  div
                    b
                      font(color='#000') JS1
                td(width='20%', height='2')
                  div
                    font(color='#000')
                      | Stepper Motor (JS0 - JS3) 
                      b †
                td(width='13%', height='2')
                  div
                    font(color='#000') ...
                td(width='13%', height='2')
                  div
                    font(color='#000') ...
                td(width='13%', height='2')
                  div
                    font(color='#990066') ...
                td(width='18%', height='2')
                  div
                    font(color='#666') ...
                td(width='17%', height='2')
                  div
                    font(color='#000') ...
              tr
                td(width='6%', height='11')
                  div
                    b
                      font(color='#000') JS2
                td(width='20%', height='11')
                  div
                    font(color='#000')
                      | Stepper Motor (JS0 - JS3) 
                      b †
                td(width='13%', height='11')
                  div
                    font(color='#FF00FF') Programmable Output
                td(width='13%', height='11')
                  div
                    font(color='#000')
                      font(color='#FF0000')
                        | Tacho
                        | Output
                td(width='13%', height='11')
                  div
                    font(color='#990066') NOS Relay Output (Stage 2)
                td(width='18%', height='11')
                  div
                    font(color='#666') Boost Control PWM Output
                td(width='17%', height='11')
                  div
                    font(color='#000') ...
              tr
                td(width='6%')
                  div
                    b
                      font(color='#000') JS3
                td(width='20%')
                  div
                    font(color='#000')
                      | Stepper Motor (JS0 - JS3) 
                      b †
                td(width='13%')
                  div
                    font(color='#000') ...
                td(width='13%')
                  div
                    font(color='#000') ...
                td(width='13%')
                  div
                    font(color='#000') ...
                td(width='18%')
                  div
                    font(color='#000') ...
                td(width='17%')
                  div
                    font(color='#000') ...
              tr
                td(width='6%', height='41')
                  div
                    b
                      font(color='#000') JS4
                td(width='20%', height='41')
                  div
                    font(color='#000099') Constant Barometric Correction
                td(width='13%', height='41')
                  div
                    font(color='#330000') Knock Input
                td(width='13%', height='41')
                  div
                    font(color='#0000FF') Launch Control Input
                td(width='13%', height='41')
                  div
                    font(color='#666') Second O2 input
                td(width='18%', height='41')
                  div
                    font(color='#990066') NOS Input
                td(width='17%', height='41')
                  div
                    font(color='#333333', size='4')
                      b
                        | Spark F
                        br
                        font(size='2') (12cy Wasted Spark setups)
              tr
                td(width='6%')
                  div
                    b
                      font(color='#000') JS5
                td(width='20%')
                  div
                    font(color='#000099') Constant Barometric Correction
                td(width='13%')
                  div
                    font(color='#330000') Knock Input
                td(width='13%')
                  div
                    font(color='#0000FF') Launch Control Input
                td(width='13%')
                  div
                    font(color='#666666') Second O2 input
                td(width='18%')
                  div
                    font(color='#990066') NOS Input
                td(width='17%')
                  div
                    font(color='#333', size='4')
                      b
                        | Spark E
                        br
                        font(size='2') ( >= 10cy Wasted Spark setups)
              tr
                td(width='6%', height='2')
                  div
                    b
                      font(color='#000') JS7
                td(width='20%', height='2')
                  div
                    font(color='#0000FF') ...
                td(width='13%', height='2')
                  div ...
                td(width='13%', height='2')
                  div
                    font(color='#000') ...
                td(width='13%', height='2')
                  div
                    font(color='#000') ...
                td(width='18%', height='2')
                  div
                    font(color='#990066') ...
                td(width='17%', height='2')
                  div
                    font(color='#00CC99')
                      | Switch VE and/or Ignition
                      | Map Tables
              tr
                td(width='6%')
                  div
                    b
                      font(color='#000') JS10
                td(width='20%')
                  div
                    font(color='#333399') Second Trigger Input
                td(width='13%')
                  div
                    font(color='#0000FF') Launch Control Input 
                td(width='13%')
                  div
                    font(color='#FF0000') Tacho Output
                td(width='13%')
                  div
                    font(color='#000') EDIS SAW output
                td(width='18%')
                  div
                    font(color='#990066') NOS Input
                td(width='17%')
                  div
                    font(color='#000') ...
              tr
                td(width='6%', height='54')
                  div
                    b
                      font(color='#000') JS11
                td(width='20%', height='54')
                  div
                    font(color='#333', size='4')
                      b
                        | Spark D 
                        br
                        font(size='2') (>=8cy wasted spark setups)
                td(width='13%', height='54')
                  div
                    font(color='#0000FF') Launch Control Input
                td(width='13%', height='54')
                  div
                    font(color='#FF0000') Tacho Output
                td(width='13%', height='54')
                  div
                    font(color='#FF00FF') Programmable Output
                td(width='18%', height='54')
                  div
                    font(color='#666') Boost Control PWM Output
                td(width='17%', height='54')
                  div
                    b
                      font(color='#00CC99') ...
              tr
                td(width='6%')
                  div
                    b
                      font(color='#000') D14
                td(width='20%')
                  div
                    font(color='#333', size='4')
                      b
                        | Spark A 
                        br
                        font(size='2') (Vertually all Igntion setups) except EDIS
                td(width='13%')
                  div
                    font(color='#FF00FF') Programmable Output 
                td(width='13%')
                  div
                    font(color='#FF0000') Tacho Output
                td(width='13%')
                  div
                    font(color='#000') ...
                td(width='18%')
                  div
                    font(color='#000') ...
                td(width='17%')
                  div
                    font(color='#000') ...
              tr
                td(width='6%', height='6')
                  div
                    b
                      font(color='#000') D15
                td(width='20%', height='6')
                  div
                    font(color='#333', size='4')
                      b
                        | Spark C 
                        br
                        font(size='2') ( >= 6cy wasted spark setups) 
                td(width='13%', height='6')
                  div
                    font(color='#FF00FF') Programmable Output
                td(width='13%', height='6')
                  div
                    font(color='#FF0000') Tacho Output
                td(width='13%', height='6')
                  div
                    font(color='#000') ...
                td(width='18%', height='6')
                  div
                    font(color='#000') ...
                td(width='17%', height='6')
                  div
                    font(color='#000') ...
              tr
                td(width='6%')
                  div
                    b
                      font(color='#000') D16
                td(width='20%')
                  div
                    font(color='#333', size='4')
                      b
                        | Spark B 
                        br
                        font(size='2') ( >= 4cy wasted spark setups)
                td(width='13%')
                  div
                    font(color='#FF00FF') Programmable Output
                td(width='13%')
                  div
                    font(color='#FF0000') Tacho Output
                td(width='13%')
                  div
                    font(color='#000') ...
                td(width='18%')
                  div
                    font(color='#000') ...
                td(width='17%')
                  div
                    font(color='#000') ...
              tr
                td(width='6%')
                  div
                    b
                      font(color='#000') FIdle
                td(width='20%')
                  div
                    font(color='#000')
                      | PWM Idle Valve Control 
                      i
                        | (2
                        | or 3 wired valves)
                td(width='13%')
                  div
                    font(color='#FF0000') Tacho output
                td(width='13%')
                  div
                    font(color='#FF00FF') Programmable Output
                td(width='13%')
                  div
                    font(color='#666') Boost Control PWM Output
                td(width='18%')
                  div
                    font(color='#000') ...
                td(width='17%')
                  div
                    font(color='#000')
          p
            font(color='#000000')
              | † All 4 (JS0-JS3) 
              | pads are used for the stepper motor if selected!
              br
              b Note:
              |  Most outputs can be set for Tacho, ExtraEFI.co.uk uses
              |                     JS11 if available.





        #ms3.tab-pane(role='tabpanel')

          p
            | Description of Options:
            br
            span
              | (Note: When using the 
              a(href='MS3X_board.html') MS3X board
              |  on an MS3 ECU, many of these options are
              |                               already included, so ignore the individual cost.)
          hr
          h2 NOS - Nitrous Control
          p
            | An output to drive a relay coil that's triggered by a minimum RPM, TPS, etc. It also uses an input that switches to a new timing map 
            | or fixed ignition retard. Can be used as an Anti-Lag for turbo applications too. Buffered, flywheel protection circuit 
            b + £12
            | .
            b Note:
            |  This is counted as 2 options, 1 for the input, 1 for the output so only 2 more can be added. Click 
            a(href='Drawings/PDF_Files/NOS_MS1.pdf', target='_blank') here
            |  for more details.
          hr
          h2
            |  NOS - Nitrous Control for 
            i MS2-Extra Only
          p
            | Up to 2 outputs to drive a dual stage or single stage NOS setup that's triggered by a minimum RPM, TPS, etc. It also uses an input that 
            | switches to a new timing map or fixed ignition retard. 2 x buffered, flywheel protection circuit 
            b + £15
            |  for 2 outputs or 
            b + £12 
            | for 1 output. 
            b Note:
            |  This is counted as 2 or 3 options, 1 for the input, 1 or 2 for the outputs. Click 
            a(href='Drawings/PDF_Files/NOS_MS2.pdf', target='_blank') here
            |  for more details.
          hr
          h2 Switchable Map Tables for Fuel or Spark or Boost or any Combination 
          p
            | Switches between 2 maps e.g. LPG and Petrol, etc. Buffered and protected circuit 
            b + £5
            | . Click 
            a(href='Drawings/PDF_Files/SwitchableMaps.pdf', target='_blank') here
            |  for more details.
          hr
          h2 Boost Control
          p
            | Target values for boost levels depending on TPS and RPM, controlling the turbo's waste gate high powered FET driver 
            b
              | + £10
              | †
            | . Click 
            a(href='Drawings/PDF_Files/Boost_MS1.pdf', target='_blank') here
            |  for more details.
          hr
          h2 38PSI of Boost (400KPa) Manifold Pressure Sensor
          p
            | The standard MAP sensor is capable of detecting 21PSI of boost, in some rare cases 
            | this may not be enough, so a 38PSI (400KPa) sensor can be fitted
            b  + £55
            | . Click 
            a(href='Drawings/PDF_Files/400KPa_Setup.pdf', target='_blank') here
            |  for more details. 
            b Note:
            |  (This is not part of the MS3X board, so will need adding to the order.)
          hr
          h2
            |  Water Injection Control 
            i for MS1-Extra and MS3 Only
          p
            | Pulsed water injection output to give a proportional water ratio using a fast acting valve and a water pump relay 
            | output high powered FET driver for the valve and a buffered, flywheel protection circuit for the control relay 
            b  + £15
            | .
            |                             For water pump relay control ONLY, buffered, flywheel protection circuit 
            b  + £5
            | . Click 
            a(href='Drawings/PDF_Files/Water_Injection.pdf', target='_blank') here
            |  for more details.
          hr
          h2 Dual EGO Sensor Support
          p
            | Filter components for a 2nd separate Lambda sensor, 1 for each bank of a V6 or V8
            b  + £5
            | .
          hr
          h2 Shift / Warning Light
          p
            | I can add a single output that can be switched by several sources e.g. Air temp, RPM, coolant buffered, current limited circuit 
            | ready to directly connect to an LED 
            b  + £5
            | . Includes a red LED. Please remind me though, as 
            |                                 I tend to forget to include it from time to time. Click 
            a(href='Drawings/PDF_Files/warning_LED.pdf', target='_blank') here
            |  for more
            |                                 details.
          hr
          h2 Launch Control / Flat Shift
          p
            | Limit RPM during takeoff/shifting to get a better 1/4 mile time, buffered and protected circuit
            b  + £8
            | . Click 
            a(href='Drawings/PDF_Files/Launch.pdf', target='_blank') here
            |  for more details.
          hr
          h2 Real-Time (Constant) Barometric Correction
          p
            | Really only suitable for hill climbers or mountain dwellers, includes filtering circuit and a second MAP sensor fitted internal 
            | to detect atmospheric pressure
            b  + £25
            | . (This is not part of the MS3X board, so will need adding to the order.)
          hr
          h2 Cooling Fan Programmable Output
          p
            | An output that controls a relay for your cooling fan. This has a programmable ON temperature and a programmable OFF 
            | temperature built-in flywheel protection, buffered circuit
            b  + £5
            | . Click 
            a(href='Drawings/PDF_Files/coolingfan.pdf') here
            |                             for more details.
          hr
          h2 Up to 4 Programmable Outputs
          p
            | A driver to control a relay built-in flywheel protection, buffered circuit 
            b  + £5
            i  EACH
            | . Click 
            a(href='Drawings/PDF_Files/Program_Outputs.pdf', target='_blank') here
            |  for more details.
          hr
          h2 Knock Sensor Input
          p
            | Connection wiring only!! This needs a pre-built knock circuit, click 
            a(href='software/knock.pdf', target='_blank') here
            |  for more 
            |                             details. 
            b FREE
            |  internally wired only!
          hr
          h2
            |  Tacho Output for Coil Pack Use
          p
            | (To feed various Rev Counters high voltage output transistor circuit 
            b  + £5) ǂ 
          hr
          h2 Dual Wheel Decoder/2nd Trigger Input
          p
            | For a second hall sensor input opto protected circuit with hall conditioning
            b  + £15
            | . 
            br
            | For a second VR sensor input
            i  including separate VR conditioning circuit 
            b  + £35
            | .
          hr
          p
            | Up to 4 additional items like, launch, programme outputs, knock, etc.
            br
            | can be added to a standard MS ECU.
            br
            br
            |                           The 
            a(href='MS3X_board.html') MS3X Board
            |  has more options built-in.
            br
            | For more info on these functions 
            a(href='mailto:phil@extraefi.co.uk?subject=MS Additional Functions Question') please contact me
            | .
          p
            b †
            |  - This code is experimental although some people have had some considerable success with the system.
            br
            b ǂ
            |  - These options work for most installs, but as there are so many variants of rev counter it is impossible to say it will work on all setups. You may need to add a few components externally, but full details are supplied in the drawings.


