extends ./layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl
      h3 Mazda MX5/Miata Megasquirt ECU's
      hr
      #ECU1.row
        .col-lg-4
          img.img-responsive.r-2x(src='assets/img/MX5_ECU/Picture%206.JPG')
          form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='X72XQTF59UUC2')
            table(align='center')
              tbody
                tr
                  td
                    div(align='center')
                      input(type='hidden', name='on0', value='Mazda Mk1 MX5 PnP year .........')
                      |                                 Mazda Mk1 MX5 PnP year:
                tr
                  td
                    select(name='os0')
                      option(value='1990 - 1993 (UK Postage)') 1990 - 1993 (UK Postage) £495.00 GBP
                      option(value='1990 - 1993 (EU Postage)') 1990 - 1993 (EU Postage) £500.00 GBP
                      option(value='1994 - 1995 (UK Postage)') 1994 - 1995 (UK Postage) £495.00 GBP
                      option(value='1994 - 1995 (EU Postage)') 1994 - 1995 (EU Postage) £500.00 GBP
                      option(value='1996 - 1997 (UK Postage)') 1996 - 1997 (UK Postage) £495.00 GBP
                      option(value='1996 - 1997 (EU Postage)') 1996 - 1997 (EU Postage) £500.00 GBP
            input(type='hidden', name='currency_code', value='GBP')
            input(type='image', src='https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal – The safer, easier way to pay online.')
            img(alt='', border='0', src='https://www.paypalobjects.com/en_GB/i/scr/pixel.gif', width='1', height='1')
          p
            strong Note: Later MK2 alternators may need changing to a earlier version.
          p
            strong Lead time: 2 weeks
        .col-lg-8
          h4 MK1-MK2 MX5 1.6 and 1.8 - £495 plus postage
          p
            strong Features:
            ul
              li 16x16 Fuel table
              li 12x12 Spark table
              li Rev limiter
              li Overboost protection
              li Mappable Air:Fuel ratio targets
              li Wide band or Narrow band
              li Coolant temperture relatated ignition timing advance
              li Inlet air temperture related ignition timing retard
              li
                | Manifold absolute pressure rate of change or Throttle position sensor rate of change acceleration enrichment
              li Overrun fuel cut
              li Boost control
              li Built-in air density correction
              li 21PSI MAP sensor
              li Knock sensor input with adjustable sensitivity
              li
                | Table switching input. Change fuel and spark maps on the fly for different fuels, nitrous activation ect
            strong Kit includes:
            ul
              li Air temperature sensor (Allows removal of AFM)
              li 2 meter loom for air temperature sensor
              li Wideband lambda input
              li Knock sensor input
              li Switchable map input
              li Programmable output (warning LED, or relay control)
              li MS2 Based PnP ECU
              li RS232 COMMS cable
              li Tuning software and Documentation CD
              li MX5 base map pre-loaded
              li 1.5 meter vacuum hose for MAP signal and "T" fitting
      hr
      #ECU2.row
        .col-lg-4
          img.img-responsive.r-2x(src='assets/img/MX5_ECU/Picture%206.JPG')
          p
            strong
              | Note: Prices will vary depending on the exchange rate. I will work out a price for you and ensure its a fair amount cheaper than you could buy them directly from DiyAutoTune for.
          p
            strong Lead time: 2 weeks
        .col-lg-8
          h4 MX5 / Miata 1.6 and 1.8 from 1999-2000
          p
            | This setup provides a true Plug-n-Play, fully mappable MegaSquirt MS2 ECU using the DiyAutoTune generation 2 Plug and Play ECU.
          strong Features:
          ul
            li 16x16 Fuel table
            li 12x12 Spark table
            li Rev limiter
            li Overboost protection
            li Mappable Air:Fuel ratio targets
            li Wide band or Narrow band
            li Coolant temperture relatated ignition timing advance
            li Inlet air temperture related ignition timing retard
            li
              | Manifold absolute pressure rate of change or Throttle position sensor rate of change acceleration enrichment
            li Overrun fuel cut
            li Staged Injection
            li Built-in air density correction
            li Real time baro correction
            li 4Bar MAP sensor
            li Knock sensor input with adjustable sensitivity
            li Headphone output for knock sesnor - (listen for knock while you tune)
            li
              | Table switching input. Change fuel and spark maps on the fly for different fuels, nitrous activation ect
          strong Kit includes:
          ul
            li MS2 Based PnP ECU
            li RS232 COMMS cable
            li Tuning software and Documentation CD
            li
              | Miata base map is pre-loaded to help your engine start on the first turn of the key ( other model base maps included on CD)
            li 6" meter vacuum hose for MAP signal and "T" fitting
            li Four screws for ECU mounting
