extends ./layouts/default

block content
  .container
    .bg-white.wrapper.m-t-xl.m-b-xl

      h3 Upgrades:
      hr
      p I'm no longer selling the daughter boards for MS1, MS2 or MS3 ECUs on their own due to a few customers having issues with installing them, themselves. 
      p I now offer an upgrade service, where-by I will test the ECU, report back to you with any issues it may have and upgrade the main processor to which system you require. 
      p Price includes minor mods needed to drive existing setups, e.g. EDIS wire changes inside, etc.
      br
      strong
      | MS1 to MS2 Upgrade is £115 plus postage.
      p     MS1 to MS3 Upgrade is £225 plus postage
      p     MS2 to MS3 Upgrade is £200 plus postage.
      p     MS3X installation onto MS3 ECU is £TBA plus postage.
      
    .bg-white.wrapper.m-t-xl.m-b-xl
      h3.m-none Fitting and Tuning Services:
      .row.text-left
        .col-md-6.col-xs-12
          p BAILEY 
          p PERFORMANCE LTD
          p                 31 High Street,
          p Broseley,
          p Telford,
          p Shropshire.
          p TF12 5EZ.

          a(href='http://www.baileyperformance.co.uk', target='_blank') www.baileyperformance.co.uk
          br
          b 07967 222967
          p Happy to quote for any work, engine swaps, supercharger/turbocharger conversions, throttle bodies fitted with an ExtraEFI MegaSquirt ECU
          p Can also arrange for engine rebuilds/race tuning via local engine builder if required.

        .col-md-6.col-xs-12
          p MS TUNING SERVICES
          p Donnington
          p Lincolnshire
        
          a(href='mailto:shaun@ms2tuning.com?subject=MegaSquirt Tuning') shaun@ms2tuning.com
        
          a(href='http://www.ms2tuning.com', target='_blank') www.MS2Tuning.com
          p Having years of tuning experience with virtually all aftermarket ECU's Shaun is one of the most experienced tuners that ExtraEFI knows of.
          br
          p He has fitted and tuned numerous ExtraEFI MegaSquirt ECUs and is simply a no bullshit type of guy.
    .bg-white.wrapper.m-t-xl.m-b-xl
      strong
      | As you can see from the 
      a(href='MS_All_products.htm') price list
      | , there is very little profit to be made selling MS ECU's, so I work full time to pay the bills. 
      br
      | ExtraEFI takes up all of my evenings and a lot of my weekend, as such 
      |   I do my very best to answer 
      a(href='mailto:phil@extraefi.co.uk') e-mails
      |  within 12 hours of receipt. 
      br
      | I can be contacted on the phone occassionaly, but it is hard to get hold of me, hence why I prefer to use 
      a(href='mailto:phil@extraefi.co.uk') email
      | . 
      br
      | If you really need to talk to me then please try between 8am and 5.30pm any week day. (07789 681249)
      br
      | I do have a family, so evenings (after 5.30pm) and weekends I prefer to do everything via 
      a(href='mailto:phil@extraefi.co.uk') e-mail
      |  or I will get beaten up by my wife!
      br
      | Thanks for your understanding,
      br
      |  Phil.
