extends /templates/layouts/default
block content
    .container
        .bg-white.wrapper.m-t-xl.m-b-xl
            iframe.w-full.m-t-xl(src='http://docs.google.com/gview?url=http://www.extraefi.co.uk/pdf/RV8_Stepper.pdf&embedded=true', height='1000', frameborder='0')